*.jpeg filter=lfs diff=lfs merge=lfs -text
*.JPEG filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.MOV filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
public/imgs/*.JPG -filter -diff -merge
public/compressed/*.mp4 -filter -diff -merge
public/imgs/*.JPG -filter -diff -merge
public/imgs/c9f86288-5b04-4018-b96b-ca55e7d70d4d.JPG -filter -diff -merge
public/imgs/0FB4D226-A1D7-4D79-8288-B60C04EC225B.JPG -filter -diff -merge
